.Home {
    background-color: #b8a69f;
    min-height: 100vh;
  }

.profile-pic {
    width: 220px;
    height: 220px;
}

.intro {
    margin-left: 100px;
    max-width: 800px;
}

.intro-text {
    text-align: left;
    line-height: 23px;
    font-family: 'Assistant', sans-serif;
    color: #1f1e1e;
    font-size: 18px;
}

.intro-header {
    font-family: 'Assistant', sans-serif;
    color: #242323;
    font-size: calc(15px + 2vmin);
    align-self: center;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.app-header {
    align-self: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.home-content {
    background-color: #fafafb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 80px;
    padding-left: 150px;
}

.home-section {
    flex-direction: row;
    display: flex;
    font-family: 'Assistant', sans-serif;
    color: #444444;
    font-size: 16px;
    margin-top: 70px;
}

.section-para {
    max-width: 850px;
    font-family: 'Assistant', sans-serif;
    color: #444444;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
}

.section-header {
    margin-right: 150px;
}

.exp-title {
    font-weight: bold;
}

.exp-desc {
    padding-bottom: 10px;
}

.social-button {
    padding: 8px 10px;
    width: 100px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fafafb;
    color: #b8a69f;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 55px;
    font-size: 16px;
}

.profile-section {
    flex-direction: column;
    display: flex;
}

@media screen and (max-width: 768px) {
    .profile-pic {
        width: 120px;
        height: 120px;
    }
    .intro-text {
        font-size: 15px;
    }
    .intro {
        margin-left: 50px;
    }
    .app-header {
        padding: 15px;
    }
    .home-content {
        margin-left: -120px;
        padding-right: 18px;
    }
    .intro-header {
        font-size: calc(12px + 2vmin);
    }
    .social-button {
        padding: 6px 8px;
        width: 80px;
        margin-left: 35px;
        font-size: 14px;
    }
    .home-section {
        font-size: 14px;
    }
    .section-para {
        font-size: 15px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
    }
    .section-header {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .home-content {
        margin-left: -120px;
        padding-right: 30px;
    }
    .profile-pic {
        width: 120px;
        height: 120px;
    }
    .intro-text {
        font-size: 15px;
    }
    .intro-header {
        font-size: calc(12px + 2vmin);
    }
    .intro {
        margin-left: 50px;
    }
    .app-header {
        padding: 15px;
    }
}