.nav-bar {
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
    padding-left: 50px;
    margin-bottom: 70px;
    background-color: #b8a69f;
    z-index: 3;
}
.nav-name {
    color: #1f1e1e;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
    margin-right: 50px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 100px;
    list-style: none;
    text-align: center;
}

.nav-links {
    font-family: 'Assistant', sans-serif;
    color: #1f1e1e;
    font-size: 17px;
    background-color: #b8a69f;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s;
    color: #1f1e1e;
}

.nav-links:hover {
    color: #fffaf2;
}

@media screen and (max-width: 767px) {
    .nav-name {
        font-size: 18px;
        margin-left: 20px;
    }
    .nav-links {
        font-size: 14px;
    }
    .nav-links.active {
        font-size: 14px;
        background-color: #d2c3bc;
    }
    .nav-icon {
        margin-right: 20px;
        margin-left: 15px;
    }
    .nav-bar {
        padding-left: 12px;
        margin-bottom: 30px;
    }
}